@model CollaborationList

<h3> Studio Projects </h3>
@if (Model.ShowCreate)
{
<p>
    <a asp-action="Create">Create New Studio Project</a>
</p>
}
<partial name="CollabTable" model="@Model" />
<partial name="PagedResultNavBar" model="@Model.Collaborations.GetModelForDisplay("Index")" />
