@model string

@{
    ViewData["Title"] = Resources.AppName + " Features";
}

<h3>Current Features</h3>
<h4>Studio Projects</h4>
<ul class="list-group list-group-flush">
    <li class="list-group-item">View and Manage all Studio Projects in your Prime</li>
    <li class="list-group-item">Set Studio Project Restricted Status (Restricted / Unrestricted)</li>
    <li class="list-group-item">Open Studio Projects in Bluebeam Revu™</li>
    <li class="list-group-item">View and Manage User Access in Studio Projects</li>
    <li class="list-group-item">View and Manage Permissions in Studio Projects</li>
</ul>
<h4>Studio Sessions</h4>
<ul class="list-group list-group-flush">
    <li class="list-group-item">View and Manage all Studio Sessions in your Prime</li>
    <li class="list-group-item">Set Studio Session Restricted Status (Restricted / Unrestricted)</li>
    <li class="list-group-item">Open Studio Sessions in Bluebeam Revu™</li>
    <li class="list-group-item">View and Manage Users in Studio Sessions</li>
    <li class="list-group-item">View and Manage Permissions in Studio Sessions</li>
</ul>

