@model string

@{
    ViewData["Title"] = "Home Page";
}

<h1>Current Features</h1>
<h3>Studio Projects</h3>
<ul class="list-group list-group-flush">
    <li class="list-group-item">View and Manage all Studio Projects in your Prime</li>
    <li class="list-group-item">Set Studio Project Restricted Status (Restricted / Unrestricted)</li>
    <li class="list-group-item">Open Studio Projects in Bluebeam Revu™</li>
    <li class="list-group-item">View and Manage User Access in Studio Projects</li>
    <li class="list-group-item">View Current Permissions Studio Projects</li>
</ul>
<h3>Studio Sessions</h3>
<ul class="list-group list-group-flush">
    <li class="list-group-item">View and Manage all Studio Sessions in your Prime</li>
    <li class="list-group-item">Set Studio Session Restricted Status (Restricted / Unrestricted)</li>
    <li class="list-group-item">Open Studio Sessions in Bluebeam Revu™</li>
    <li class="list-group-item">View and Manage User Access in Studio Sessions</li>
    <li class="list-group-item">View Current Permissions Studio Sessions</li>
</ul>

