@{
    ViewData["Title"] = "Help & Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The Admin Toolkit conforms to all the Integration requirements set by Bluebeam. This includes detailed application logs for when problems occur. Logs are kept for 7 days and may include your email address, IP addres, and any information related to the activity you were trying to perform if an error occurs. </p>
