@model string

@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome!</h1>
<p>What is the Admin Toolkit?</p>
<p>The Admin Toolkit enables Bluebeam Studio™ Prime administrators to manage all the Bluebeam Studio™ Projects and Bluebeam Studio™ Sessions that belong to their Prime.</p>
<h1>Who can use this Integration?</h1>
<p>This Integration is only useable by Prime Admins belonging to an active Studio Prime. Regular Prime Members will not be able to use this application.</p>
<h1>Features</h1>
<p>Quickly and efficiently secure your Studio Sessions and Studio Projects by seeing what is unrestricted at a glance and restricting what shouldn't be open.</p>
<p>View Permissions for your Studio Sessions and Studio Projects.</p>
<p>See who has access to your Studio Sessions and Studio Projects and Allow/Deny users as needed.</p>
<h1>Activating the Admin Toolkit in your Prime</h1>
<p>Log into the Prime management portal at studio.bluebeam.com. Then enter the integration ID "@Model" in the Integrations page and add it to your Prime.</p>
<p>Then, click Login with Bluebeam above!</p>

