@model string

@{
    ViewData["Title"] = Resources.AppName;
}

<h3>Welcome to @Resources.AppName!</h3>
<p>@Resources.AppName allows Bluebeam Prime Administrators to quickly and efficiently manage your Bluebeam Studio™ Sessions and Bluebeam Studio™ Projects by seeing what is unrestricted at a glance and restricting what shouldn't be open. You can also manage users and permissions in those Projects and Sessions.</p>
<p>See <a asp-action="Features">Features</a> for more of what's possible.</p>
<p>If this is your first time using @Resources.AppName, see <a asp-action="Help">Help</a> for information on how to get started.</p>

