@model string

@{
    ViewData["Title"] = Resources.AppName;
}

<h3>Welcome to @Resources.AppName!</h3>
<p>What is @Resources.AppName?</p>
<p>@Resources.AppName enables Bluebeam Studio™ Prime administrators to manage all the Bluebeam Studio™ Projects and Bluebeam Studio™ Sessions that belong to their Prime.</p>
<p>If this is your first time using @Resources.AppName, see <a asp-action="Help">Help</a> for information on how to get started.</p>
<h4>Features</h4>
<p>Quickly and efficiently secure your Studio Sessions and Studio Projects by seeing what is unrestricted at a glance and restricting what shouldn't be open.</p>
<p>View Permissions for your Studio Sessions and Studio Projects.</p>
<p>See who has access to your Studio Sessions and Studio Projects and Allow/Deny users as needed.</p>
<p>See <a asp-action="Features">Features</a> for a detailed feature list.</p>

