@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>Oops. Something went wrong.</h1>
@if (Model.ShowStudioError)
{
    <p>
        The Studio API returned the following message:
    </p>
    <h3>@Model.StudioError.StudioErrorMessage</h3>
}
else
{ 
    <h2>An error occurred while processing your request.</h2>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}