@model PagedResultDisplay
@if (Model.TotalItems > Model.ItemsPerPage)
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#" >Page:</a></li>
            @{
                Model.ActionParams["page"] = "1";
            }
            @for (int p = 1; p * Model.ItemsPerPage < Model.TotalItems + Model.ItemsPerPage; p++)
            {
                Model.ActionParams["page"] = p.ToString();
                if (p == Model.CurrentPage)
                {
                    <li class="page-item active">
                        <a class="page-link" asp-action="@Model.ControllerAction" asp-all-route-data="@Model.ActionParams">@p </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="@Model.ControllerAction" asp-all-route-data="@Model.ActionParams">@p </a>
                    </li>
                }
            }
        </ul>
    </nav>
}